<% @articles.each do |article| %>
  <div class="booyah-box col-10 offset-1">
    <%= image_tag article.picture.url %>
    <p><%= link_to article.article_name, article_path(article) %></p><br />
    <i><%= article.tagline %></i><br />
  </div>
<% end %>
<%= will_paginate @articles %>